body {
    background: #1d809f;
}


header a:hover{
    color: #fafafa;
}

#bg-img
{
    background: url('../img/home-back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#about{
    margin-top: -100px;
}

#about .fa-facebook{
    color:#6395e0;
}
#about .fa-pinterest{
    color: rgb(236, 97, 97);
}
#about .fa-github{
    color:#fafafa;
}

#gallery{
    margin: 5px 50px;
    margin-top: 50px;
}
#galery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}
#gallery img:hover{
    filter: grayscale(50%);
    transform: scale(1.01);
}
